@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-flow: column;
    font-family: 'Montserrat', sans-serif;
    cursor: default;
    background-color: black;
    color: blanchedalmond;
    
}

#page-content {
    height: 100%;
}

#home {
    display: grid;
    grid-template-columns: 2fr 1fr 4fr;
    height: 100%;
}

#page-content {
    flex-grow: 1;
}

#home-graphs {
    width: 25%;
    height: 100%;
}

#home-chart {
    /* margin: 10px; */
    width: 100%;
    height: 700px;
}

#home-indicators {
    width: 100%;
    text-align: center;
}

#home-table {
    width: 100%;
    text-align: center;
}

#pie-chart .svg-container {
    justify-content: center;
}

/* Securities */

#securities {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

/* Settings */

#settings {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.settings-pair {
    margin-top: 10px;
    text-align: center;
}

.settings-label {
    margin: 0;
    margin-bottom: 10px;
    font-size: 12px;
    text-decoration: underline;
}

#refresh-slider {
    /* width: 100%; */
}